{% extends 'notice.html' %}

{% load custom_tags %}
{% load widget_tweaks %}

{% block title %}
Notice
{% endblock title %}

{% block content_notice %}
    <div class="accordion-item card mb-3">
        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-1" aria-controls="accordionIcon-1" aria-expanded="false">
            Filters
          </button>
        </h2>

        <div id="accordionIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionIcon" style="">
          <div class="accordion-body">
            <form action="" method="get">
              <div class="col mb-3">
                <label class="form-label" for="basic-default-notice">Title</label>
                {% render_field filterset.form.notice class="form-select" aria-label="Default select example" id="basic-default-notice" %}
              </div>
              <div class="col mb-3">
                <label class="form-label" for="basic-default-author">From</label>
                {% render_field filterset.form.author class="form-select" aria-label="Default select example" id="basic-default-author" %}
              </div>
              <div class="col mb-3">
                <label class="form-label" for="basic-default-date">Date, from</label>
                {% render_field filterset.form.date class="form-control" type="date" id="basic-default-date" %}
              </div>
                <input class="btn btn-sm btn-primary" type="submit" value="Filter" />
                <input class="btn btn-sm btn-primary ms-1" type="button" value="Reset" onclick="location.href='{% url 'message_list' %}';"/>
            </form>
          </div>
        </div>
    </div>

    {% for message in messages %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ message.notice.title }}</h5>
        <div>
            <p>{{ message.text }}</p>
        </div>
        <div>
            <small class="text-light fw-semibold">Date: {{ message.date_in }}</small>
            <p><small class="text-light fw-semibold">From: {{ message.author}}</small></p>
        </div>
        <button type="button" class="btn btn-sm btn-success" onclick="document.location='{% url 'message_apply' message.pk %}'">Apply</button>
        <button type="button" class="btn btn-sm btn-danger ms-1" onclick="document.location='{% url 'message_delete' message.pk %}'">Delete</button>
      </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <div class="demo-inline-spacing">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item prev">
                        <a class="page-link" href="?page=1"><i class="tf-icon bx bx-chevrons-left"></i></a>
                    </li>
                    {% if page_obj.previous_page_number != 1 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="">{{ page_obj.number }}</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                       <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    {% if paginator.num_pages != page_obj.next_page_number %}
                        <li class="page-item next">
                           <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="tf-icon bx bx-chevrons-right"></i></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- / Pagination -->
{% endblock content_notice %}









