{% extends 'notice.html' %}

{% block title %}
Notice
{% endblock title %}

{% block content_notice %}
    <div class="card overflow-hidden mb-3" style="min-height: 200px;">
        <h5 class="card-header">{{ notice.title }}</h5>
        <div class="card-body" id="both-scrollbars-example">
            <div>
            {% for category in notice.category.all %}
               <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
            </div>
            <div>
                <p>{{notice.text|safe }}</p>
            </div>
            <div>
                <p><small class="text-light fw-semibold">Author: {{ notice.author}}</small></p>
            </div>
            <div>
              {% if is_author %}
                <button type="button" class="btn btn-sm btn-primary" onclick="document.location='update/'">Edit</button>
                <button type="button" class="btn btn-sm btn-danger ms-1" onclick="document.location='delete/'">Delete</button>
              {% else %}
                <button type="button" class="btn btn-sm btn-primary" onclick="document.location='message/'">Response</button>
              {% endif %}
            </div>
        </div>
    </div>
{% endblock content_notice %}